<footer class="pt-20 pb-4" style="background-image: url(/travelin/images/background_pattern.png);">
    <div class="section-shape top-0" style="background-image: url(/travelin/images/shape8.png);"></div>

    <!-- Instagram starts -->
    <div class="insta-main pb-10">
        <div class="container">
            <div class="insta-inner">
                <div class="follow-button">
                    <h5 class="m-0 rounded"><i class="fab fa-instagram"></i> Instagram'da Takip Edin</h5>
                </div>
                <div class="row attract-slider">
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/1.jpg" alt="insta"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/2.jpg" alt="insta"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/3.jpg" alt="insta"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/4.jpg" alt="insta"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/5.jpg" alt="insta"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/6.jpg" alt="insta"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/7.jpg" alt="insta"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/8.jpg" alt="insta"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="insta-image rounded">
                            <a href="#"><img src="/travelin/images/insta/9.jpg" alt="insta"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram ends -->

    <div class="footer-upper pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 pe-4">
                    <div class="footer-about">
                        <img src="/travelin/images/logo-white.png" alt="">
                        <p class="mt-3 mb-3 white">
                            Hayalinizdeki yolculuğa bizimle çıkın! Dünyanın dört bir yanına unutulmaz deneyimler sunuyoruz.
                        </p>
                        <ul>
                            <li class="white"><strong>Telefon:</strong> +90 212 555 25 42</li>
                            <li class="white"><strong>Adres:</strong> Bağdat Caddesi No:120, Kadıköy / İstanbul</li>
                            <li class="white"><strong>E-posta:</strong> info@travelin.com</li>
                            <li class="white"><strong>Web:</strong> www.travelin.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Hızlı Linkler</h3>
                        <ul>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Tur ve Rezervasyon Bilgileri</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Kullanım Şartları</a></li>
                            <li><a href="#">Müşteri Hizmetleri</a></li>
                            <li><a href="#">İptal ve İade Politikası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Kategoriler</h3>
                        <ul>
                            <li><a href="#">Yurt İçi Turlar</a></li>
                            <li><a href="#">Yurt Dışı Turlar</a></li>
                            <li><a href="#">Kültür Turları</a></li>
                            <li><a href="#">Doğa &amp; Macera Turları</a></li>
                            <li><a href="#">Günübirlik Turlar</a></li>
                            <li><a href="#">Özel Organizasyonlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Bültenimize Abone Olun</h3>
                        <div class="newsletter-form">
                            <p class="mb-3">Kampanyalar, yeni tur rotaları ve özel indirimlerden ilk siz haberdar olun.</p>
                            <form action="#" method="get" accept-charset="utf-8" class="border-0 d-flex align-items-center">
                                <input type="text" placeholder="E-posta Adresiniz">
                                <button class="nir-btn ms-2">Abone Ol</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-payment">
        <div class="container">
            <div class="row footer-pay align-items-center justify-content-between text-lg-start text-center">
                <div class="col-lg-8 footer-payment-nav mb-4">
                    <ul class="">
                        <li class="me-2">Destekliyoruz:</li>
                        <li class="me-2"><i class="fab fa-cc-mastercard fs-4"></i></li>
                        <li class="me-2"><i class="fab fa-cc-paypal fs-4"></i></li>
                        <li class="me-2"><i class="fab fa-cc-stripe fs-4"></i></li>
                        <li class="me-2"><i class="fab fa-cc-visa fs-4"></i></li>
                        <li class="me-2"><i class="fab fa-cc-discover fs-4"></i></li>
                    </ul>
                </div>
                <div class="col-lg-4 footer-payment-nav mb-4">
                    <ul class="d-flex align-items-center">
                        <li class="me-2 w-75">
                            <form id="langForm" method="post" action="/Language/Change">
                                <input type="hidden" name="__RequestVerificationToken" id="langCsrf" value="" />
                                <input type="hidden" name="returnUrl" id="langReturnUrl" value="" />
                                <select name="culture" id="langSelect" class="niceSelect rounded" onchange="submitLang()">
                                    <option value="tr">🇹🇷 Türkçe</option>
                                    <option value="en">🇬🇧 English</option>
                                    <option value="fr">🇫🇷 Français</option>
                                    <option value="de">🇩🇪 Deutsch</option>
                                </select>
                            </form>
                        </li>
                        <li class="w-25">
                            <select class="niceSelect rounded">
                                <option>₺ TRY</option>
                                <option>$ USD</option>
                                <option>€ EUR</option>
                                <option>£ GBP</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="copyright-inner rounded p-3 d-md-flex align-items-center justify-content-between">
                <div class="copyright-text">
                    <p class="m-0 white">@DateTime.Now.Year Travelin. Tüm Hakları Saklıdır.</p>
                </div>
                <div class="social-links">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</footer>