<header class="main_header_area">
    <div class="header-content py-1 bg-theme">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="links">
                <ul>
                    <li><a href="#" class="white"><i class="icon-calendar white"></i> @DateTime.Now.Year</a></li>
                    <li><a href="#" class="white"><i class="icon-location-pin white"></i> İstanbul, Türkiye</a></li>
                    <li><a href="#" class="white"><i class="icon-clock white"></i> Pzrt-Cts: 08.30-18.00</a></li>
                </ul>
            </div>
            <div class="links float-right">
                <ul>
                    <li><a href="#" class="white"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="white"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="white"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="white"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header_menu" id="header_menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-3 pt-3">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <img src="/travelin/images/logo.png" alt="image">
                        </a>
                    </div>
                    <div class="navbar-collapse1 d-flex align-items-center" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" id="responsive-menu">
                            <li><a href="about.html" data-i18n="home">Ana Sayfa</a></li>
                            <li><a href="about.html" data-i18n="tourList">Tur Listesi</a></li>
                            <li><a href="about.html" data-i18n="tourRoutes">Tur Rotaları</a></li>
                            <li><a href="about.html" data-i18n="visaFree">Vizesiz Turlar</a></li>
                            <li><a href="about.html" data-i18n="domestic">Yurt İçi Turları</a></li>
                            <li class="search-main"><a href="#search1" class="mt_search"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <div class="register-login d-flex align-items-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="me-3">
                            <i class="icon-user"></i> <span data-i18n="login">Giriş Yap / Kayıt Ol</span>
                        </a>
                        <a href="booking.html" class="nir-btn white" data-i18n="bookNow">Rezervasyon Yap</a>
                    </div>
                    <div id="slicknav-mobile"></div>
                </div>
            </div>
        </nav>
    </div>
</header>