<!-- banner starts -->
<section class="banner overflow-hidden">
    <div class="slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slide-inner">
                        <div class="slide-image" style="background-image: url(/travelin/images/travelfoto.png)"></div>
                        <div class="soft-overlay"></div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner">
                        <div class="slide-image" style="background-image: url(/travelin/images/travelfoto2.jpg)"></div>
                        <div class="soft-overlay"></div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner">
                        <div class="slide-image" style="background-image: url(/travelin/images/travelfoto3.jpg)"></div>
                        <div class="soft-overlay"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <div class="banner-content position-absolute">
        <div class="entry-meta mb-0"></div>

        <h1 class="mb-0">
            <a href="#" class="white">Hayalinizdeki Tatili Bizimle Keşfedin</a>
        </h1>

        <div class="banner-booking mt-3">
            <div class="form-content-in d-flex align-items-center justify-content-center gap-3 p-3">

                <div class="form-group">
                    <div class="input-box">
                        <select class="niceSelect">
                            <option>Destinasyon Seçin</option>
                            <option>Paris</option>
                            <option>Roma</option>
                            <option>Barcelona</option>
                            <option>Prag</option>
                            <option>Dubai</option>
                            <option>Milano</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-box">
                        <input type="date" name="date" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-box">
                        <select class="niceSelect">
                            <option>Tur Türü</option>
                            <option>Şehir Turu</option>
                            <option>Kültür Turu</option>
                            <option>Aile Turu</option>
                            <option>Balayı Turu</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-box">
                        <select class="niceSelect">
                            <option>Tur Süresi</option>
                            <option>3 Gün / 2 Gece</option>
                            <option>5 Gün / 4 Gece</option>
                            <option>7 Gün / 6 Gece</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <a href="#" class="nir-btn px-4 py-1 d-flex">
                        Turları Ara
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- banner ends -->