<!-- Why Choose Us starts -->
<section class="why-choose-us pb-0" style="background-image: url(/travelin/images/sticker.png)">
    <div class="container">
        <div class="section-title mb-6 w-50 mx-auto text-center">
            <h5 class="theme1">Neden Bizi Tercih Etmelisiniz?</h5>
            <h2>Güvenilir <span class="theme">Seyahat Ortağınız</span></h2>
            <p>
                Yılların verdiği deneyimle misafirlerimize unutulmaz seyahat deneyimleri sunuyoruz.
                Profesyonel ekibimiz ve özenle hazırlanan tur programlarımızla seyahatinizi keyifli ve güvenli hale getiriyoruz.
            </p>
        </div>

        <div class="row justify-content-center align-items-start">

            <div class="col-md-4">
                <div class="d-flex flex-column gap-5">

                    <div class="feature-box fbox-one d-flex justify-content-start align-items-center flex-row-reverse gap-3 text-end bg-lblue mb-3 px-3 py-2">
                        <div class="feature-icon d-inline-flex p-3 bg-lblue2 white rounded-circle">
                            <i class="fa fa-bell"></i>
                        </div>
                        <div>
                            <h5>7/24 Destek</h5>
                            <p>
                                Seyahatinizin her anında size yardımcı olan destek ekibimizle her zaman yanınızdayız.
                            </p>
                        </div>
                    </div>

                    <div class="feature-box d-flex justify-content-start align-items-center flex-row-reverse gap-3 text-end bg-lyellow mt-3 px-3 py-2">
                        <div class="feature-icon d-inline-flex p-3 bg-lyellow2 white rounded-circle">
                            <i class="fa fa-check"></i>
                        </div>
                        <div>
                            <h5>Güvenilir Hizmet</h5>
                            <p>
                                Deneyimli ekibimiz ve kaliteli hizmet anlayışımızla güvenilir bir seyahat deneyimi sunuyoruz.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-4 d-flex justify-content-center">
                <img src="/travelin/images/girl-1.png" alt="Gezgin" class="traveler-img w-75" />
            </div>

            <div class="col-md-4">
                <div class="d-flex flex-column gap-5">

                    <div class="feature-box fbox-three d-flex justify-content-start align-items-center gap-3 bg-lyellow mb-3 px-3 py-2">
                        <div class="feature-icon d-inline-flex p-3 bg-lyellow2 white rounded-circle">
                            <i class="fa fa-shopping-bag"></i>
                        </div>
                        <div>
                            <h5>Kişiye Özel Turlar</h5>
                            <p>
                                İlgi alanlarınıza ve beklentilerinize göre özel olarak planlanan tur programları sunuyoruz.
                            </p>
                        </div>
                    </div>

                    <div class="feature-box d-flex justify-content-start align-items-center gap-3 bg-lgreen mt-3 px-3 py-2">
                        <div class="feature-icon d-inline-flex p-3 bg-lgreen2 white rounded-circle">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div>
                            <h5>Özel Kampanyalar</h5>
                            <p>
                                Avantajlı fiyatlar ve dönemsel fırsatlarla hayalinizdeki seyahati daha ulaşılabilir hale getiriyoruz.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-4">
                <div class="feature-box text-center bg-lblue px-3 py-2 mx-0">
                    <div class="feature-icon d-inline-flex p-3 mb-2 bg-lblue2 white rounded-circle">
                        <i class="fa fa-map"></i>
                    </div>
                    <h5>Kolay Rezervasyon</h5>
                    <p>
                        Kullanıcı dostu sistemimiz sayesinde turlarınızı hızlı ve güvenli şekilde kolayca rezerve edebilirsiniz.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Why Choose Us ends -->