<!-- about-us starts -->
<section class="about-us-tv overflow-hidden">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-12">
                <div class="about_us__ot d-flex justify-content-center position-relative mb-5 mb-lg-0">
                    <img src="/travelin/images/ap-1.png" class="ap__icon" alt="" />
                    <img src="/travelin/images/ap-1.png" class="ap__icon1" alt="" />
                    <img src="/travelin/images/ap-1.png" class="ap__icon2" alt="" />
                    <img src="/travelin/images/kesfet1.jpg" class="aa__img1" alt="" />
                    <img src="/travelin/images/kesfet3.jpg" class="aa__img2" alt="" />
                    <span>25 Yıllık Deneyim</span>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="d-flex flex-column">
                    <h4 class="theme mb-0">Hakkımızda</h4>
                    <h2 class="fw-bold">Dünyayı Keşfetmeniz İçin Yanınızdayız</h2>

                    <p class="border-b mb-2 pb-2">
                        Yılların verdiği deneyimle binlerce misafirimizi hayal ettikleri destinasyonlarla buluşturduk.
                        Özenle planlanan tur programlarımız ve profesyonel ekibimiz sayesinde seyahatinizi güvenli,
                        konforlu ve unutulmaz bir deneyime dönüştürüyoruz.
                    </p>

                    <div class="about-listing">
                        <ul class="d-flex flex-column justify-content-between gap-3">

                            <li>
                                <i class="fa fa-check-circle theme1 me-2"></i>
                                Dünyanın en popüler ve en özel destinasyonlarına unutulmaz turlar
                            </li>

                            <li>
                                <i class="fa fa-check-circle theme1 me-2"></i>
                                Deneyimli rehberler ve profesyonel organizasyon
                            </li>

                            <li>
                                <i class="fa fa-check-circle theme1 me-2"></i>
                                Güvenilir, kaliteli ve avantajlı tur paketleri
                            </li>

                        </ul>
                    </div>

                    <div class="mt-4">
                        <a href="#" class="nir-btn">Turları Keşfet</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- about-us ends -->